// compileCompressed: ../css/restricted.css

// styles for the restricted admin

// Material
@import '../material/icons.css';
@import '../material/material.min.css';

// Material selection
$primary: #673ab7;
$accent: #448aff;

// general template layout
*, *:before, *:after {
  box-sizing: border-box;
}
.page-content {
  padding: 25px 25px 30px 25px;
  max-width: 1200px;
  margin: auto;
  // mobile
  @media (max-width:720px)  {
    padding: 15px 10px 30px 10px;
  }
}

// layout animations
.mdl-layout, .mdl-layout section {
  animation: fadeIn .5s forwards;
}

// login card
form {
  &.login {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    z-index: 999;
    .mdl-card {
      min-height: 0;
      width: 100%;
      margin-bottom: 30px;
      .mdl-card__supporting-text {
        width: 100%;
      }
    }
  }
  > p {
    color: #fff;
    a {
      text-decoration: none;
    }
  }
}

// prevent material icons triggering events
button, a {
  .material-icons {
    pointer-events: none;
  }
}

// navigation
.mdl-layout__tab {
  padding: 0 20px;
  .material-icons {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.mdl-navigation__link {
  .material-icons {
    margin-right: 5px;
  }
}
.mdl-layout__drawer {
  .mdl-layout-title {
    font-size: 65px;
    text-align: center;
    line-height: 65px;
    padding: 30px 0 0 0;
  }
}

// dark background - fix text and border radius {
.mdl-card {
  border-radius: 5px;
  background-color: transparent;
  .mdl-card__supporting-text, .mdl-card__actions {
    background-color: #fff;
  }
}
.page-content {
  color: #fff;
}
.gradient {
  background: linear-gradient(to right, $primary 0%, $accent 100%);
}
.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: transparent;
}

// table cards
.mdl-card {
  &.restricted-table-card {
    min-height: 0;
    width: 100%;
    margin-bottom: 30px;
    .mdl-card__title {
      background-color: #f1f1f1;
      justify-content: space-between;
      h3 {
        margin-right: 15px;
        line-height: 36px;
      }
    }
    &.restricted-insert-card {
      .mdl-card__title {
        background-color: #545454;
        color: #fff;
      }
    }
    .mdl-card__supporting-text {
      width: 100%;
      padding: 0;
      .mdl-data-table {
        width: 100%;
        border: none;
        .mdl-textfield {
          width: 100%;
          .mdl-textfield__input {
            border: 1px solid rgba(0, 0, 0, 0.12);
            background-color: #f7f7f7;
            padding: 8px;
            border-radius: 3px;
            color: #000;
            &:disabled {
              color: #888;
              border: 0px;
            }
          }
        }
        td {
          border-bottom: none;
          color: #000;
          font-size: 16px;
          .desc {
            display: block;
            font-size: 13px;
            opacity: 0.5;
            margin-top: 5px;
          }
          &:first-child {
            width: 33%;
            white-space: normal;
          }
        }
        // mobile
        @media (max-width:720px)  {
          thead, th {
            display: none;
          }
          tr {
            td {
              border: none;
              display: block;
              width: 100%;
              height: auto;
              &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.12);
                padding-top: 25px;
                width: 100%;
              }
              &:last-child {
                padding-bottom: 25px;
              }
            }
          }
          .mdl-textfield {
            padding: 0;
          }
        }
      }
    }
    .mdl-card__actions {
      button {
        &.data_remove {
          float: left;
        }
      }
    }
  }
}

// text button icons
.mdl-button {
  .material-icons {
    font-size: 18px;
    vertical-align: middle;
  }
}

// collapsable forms
.collapsable {
  .collapse {
    max-height: 0px;
    overflow: hidden;
    transition: none;
  }
  &.expanded {
    .collapse {
      max-height: 1000px;
      transition: max-height .3s ease-in;
    }
  }
}

// toast types
#restricted-messages {
  .mdl-snackbar__text {
    &:before {
      font-family: 'Material Icons';
      content: '';
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
    }
  }
  &.success {
    .mdl-snackbar__text {
      &:before {
        content: 'check';
        color: $accent;
      }
    }
  }
  &.alert {
    .mdl-snackbar__text {
      &:before {
        content: 'priority_high';
        color: $primary;
      }
    }
  }
  &.error {
    .mdl-snackbar__text {
      &:before {
        content: 'close';
        color: #fd276a;
      }
    }
  }
}

// loading
#admin-loading {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: none;
  animation: fadeIn .5s forwards;
  &.active {
    display: block;
  }
}
#form-loading {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.75);
  opacity: 0;
  pointer-events: none;
  .mdl-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
  }
  &.active {
    pointer-events: all;
    animation: fadeIn .5s forwards;
  }
}
